@font-face {
    font-family: 'Montserrat-Regular', sans-serif; 
    font-weight: 400;
    font-style: normal;
    src: local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('font-woff2'),
        url('../fonts/Montserrat-Regular.woff') format('font-woff');
    font-display: swap;
}
    

@font-face {
    font-family: 'Billy-Ohio', sans-serif; 
    font-style: normal;
    src: local('Billy-Ohio'),
        url('../fonts/Billy-Ohio.woff2') format('font-woff2'),
        url('../fonts/Billy-Ohio.woff') format('font-woff');
    font-display: swap;
}
    
@font-face {
    font-family: 'Bebas-Regular', sans-serif; 
    font-weight: 400;
    font-style: normal;
    src: local('Bebas-Regular'),
        url('../fonts/Bebas-Regular.woff2') format('font-woff2'),
        url('../fonts/Bebas-Regular.woff') format('font-woff');
    font-display: swap;
}   
 
@font-face {
    font-family: 'BebasNeue-Book', sans-serif; 
    font-style: normal;
    src: local('BebasNeue-Book'),
        url('../fonts/BebasNeue-Book.woff2') format('font-woff2'),
        url('../fonts/BebasNeue-Book.woff') format('font-woff');
    font-display: swap;
}   
 
@font-face {
    font-family: 'HelveticaLTStd-BoldCond', sans-serif; 
    font-weight: 700;
    font-style: normal;
    src: local('HelveticaLTStd-BoldCond'),
        url('../fonts/HelveticaLTStd-BoldCond.woff2') format('font-woff2'),
        url('../fonts/HelveticaLTStd-BoldCond.woff') format('font-woff');
    font-display: swap;
}  
 
@font-face {
    font-family: 'Lato-Medium', sans-serif;  
    font-weight: 500;
    font-style: normal;
    src: local('Lato-Medium'),
        url('../fonts/Lato-medium.woff2') format('font-woff2'),
        url('../fonts/Lato-medium.woff') format('font-woff');
    font-display: swap;
}   
 
@font-face {
    font-family: 'BebasNeue-Bold', sans-serif; 
    font-weight: 700;
    font-style: normal;
    src: local('BebasNeue-Bold'),
        url('../fonts/BebasNeue-Bold.woff2') format('font-woff2'),
        url('../fonts/BebasNeue-Bold.woff') format('font-woff');
    font-display: swap;
}  
 
@font-face {
    font-family: 'Lato-MediumItalic', sans-serif; 
    font-weight: 500;
    font-style: normal;
    src: local('Lato-MediumItalic'),
        url('../fonts/Lato-MediumItalic.woff2') format('font-woff2'),
        url('../fonts/Lato-MediumItalic.woff') format('font-woff');
    font-display: swap;
}    
 
@font-face {
    font-family: 'Lato-Regular', sans-serif; 
    font-weight: 400;
    font-style: normal;
    src: local('Lato-Regular'),
        url('../fonts/Lato-Regular.woff2') format('font-woff2'),
        url('../fonts/Lato-Regular.woff') format('font-woff');
    font-display: swap;
}   
 
@font-face {
    font-family: 'BigNoodleTitling', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: local('BigNoodleTitling'),
        url('../fonts/BigNoodleTitling.woff2') format('font-woff2'),
        url('../fonts/BigNoodleTitling.woff') format('font-woff');
    font-display: swap;
}   
 