  
    
  @media(max-width:1235px) {    
 
     //-- contact --//      

    .contact__location { 
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    } 
     
    .contact__item{ 
      border: 1px solid transparent;
    }
      
    .contact__social-items{ 
      border: 1px solid transparent;
    }

  }

  @media(max-width:1207px) {  
     
     //-- tour --//     
        
      .tour { 
        padding-bottom: 170px;
       }  

    .tour__items { 
      flex-wrap: wrap; 
      justify-content: center;
    }  
     
    .tour__item{ 
      margin: 38px; 
      border:1px solid transparent; 
      padding-bottom: 30px;
    } 
     
    .tour__item-triangle{ 
      position: absolute;
      bottom: 0px;
      left: 0px;
    } 
     
    .tour__item-title {
     
      margin: 0 0 25px 15px; 
    } 
     
    .tour__item-text {
      margin: 0 15px 37px;
   }  
   
   .tour__item-btn{ 
    margin-left: 9px;
   }  
    
    //--  convince --//     

   .convince__motocykle{ 
    display: none;
   } 
    
  //-- worldwide --// 

   .worldwide__img{ 
    position: initial;
   }    
    
    
   //-- moredetail --//  
    
   .moredetail__img {
    position: absolute;
    left: 0; 
    right: 0; 
    margin: 0 auto; 
}

 }
   
    
    @media(max-width:1197px) {
  
      //--  header --//    
       
      .header__main-title { 
        margin-bottom: 0;
      }
  
      .header__main-motocykle {
        position: initial;
        margin: 0 auto;
      } 

    //--  moredetail --//     

    .moredetail__detail-bigt {
      font-size: 70px;  
    }
       
   .moredetail__detail-bigt--rightside {
      font-size: 83px; 
      margin-bottom: 35px;
     }  
      
     .moredetail__detail-bigsub {
      font-size: 43px;
    }


    }
  
     
     
   
    

 @media(max-width:1180px){ 
     
    //--  header --// 
     
  .header__top-logo, 
  .header__top-social, 
  .menu__btn{ 
    z-index: 70;
  } 
     
  .menu{ 
    order:1; 
    margin-left: 35px;
  }

  .header .menu__btn{  
    display: block;
  }   

  .header .menu__list{ 
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: $main-red;
    text-align: center;
    padding: 20px 0;
    transition: all .5s;
    z-index: 50; 
    transform: translateY(-500px);
    } 
       
   .header .menu__list.menu__list--active{ 
      transform: translateY(0);
   }
    
    .header .menu__item+.menu__item {
        margin-left: 0;
    } 
     
    .menu__item { 
        margin: 15px 0;
    } 
     
    .header__main-title{ 
      line-height: 99px;
    } 
      
     //--  tour --//      

    .tour {
      padding-bottom: 95px;
  }

 }       
  
 @media(max-width:1075px){    
     
    //--  convince --//       
     
    .convince {
      background-color: #ededed;
      margin-bottom: 45px;
  }

   .convince__wrapper{ 
    flex-wrap: wrap;
   } 
     

  .convince__reasons { 
    position: inherit; 
    max-width: 100%; 
    text-align: center;
  }  
   
  .convince__title {
    font-size: 69px;
    margin-bottom: 45px;
    line-height: 60px;
}
   
  .convince__riders{ 
    max-width: 100%; 
    padding: 25px 0 0 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
  } 
   
  //-- worldwide --//  

  .worldwide__main{ 
    flex-wrap: wrap;
  } 
   
  .worldwide__card{ 
    margin: 25px;
  } 
   
  .worldwide__img{ 
    margin: 25px 25px 0 25px; 
  }

 } 
  
 @media(max-width:1073px){   

    //-- worldwide --//   

   .worldwide__main { 
    justify-content: center;
   } 
    
   .worldwide__subtitle {
    margin: 0 auto 50px;
   }

 } 
  
 @media(max-width:1030px){     
   
  //-- moredetail --//    

  .moredetail__details-text {
    margin: 0 130px 99px 0;
   } 
    
   .moredetail__details-text--rightside {
      margin: 0 0 99px 147px;
    }
 } 

  
 @media(max-width: 1143px){    

   //-- moredetail --//    
   
  .moredetail__leftside-wrapper, 
  .moredetail__rightside-wrapper{ 
     flex-wrap: wrap; 
     justify-content: center; 
     align-items: center;
  } 
   
  .moredetail__detail{ 
     margin: 25px 15px;
  }

 } 

 @media(max-width:1017px){  
   
    //-- contact --//     

  .contact__location {
    position: absolute;
    top: -105px;
   } 

 }

  
  @media(max-width:1015px){ 
     
   //--  header --//   
   
   .header__top {
     padding: 30px 0;  
     margin-bottom: 50px;
   }  
    
    //--  moredetail --//   
 
  .moredetail__details-text, 
  .moredetail__details-text--rightside {
     color: #fff;
     text-align: center;
     margin-bottom: 50px;
    }
   
    //-- jurney --//    

    .jurney__subtitle {
      margin: 0 auto 130px;
    } 

 }  
  
  
  
 @media(max-width: 953px) { 
 
  //--  moredetail --//      
   
  .moredetail__title {
    line-height: 70px;
}
   
  .moredetail__detail-title,  
  .moredetail__detail-bigt,  
  .moredetail__detail-bigt--rightside {
    font-size: 50px; 
  } 
   
  .moredetail__detail-bigt--rightside{ 
    margin-bottom: 29px;
  }
 
  .moredetail__leftside-wrapper { 
    margin: 0 147px 80px 0; 
    padding: 0;
  } 
   
  .moredetail__rightside-wrapper { 
    margin: 0 0 70px 127px; 
    padding: 0;
  } 
   
  .moredetail__details-text--rightside {
    margin: 0 0 48px 123px;
  } 
     
   //-- tour --//     

  .tour__title {
    margin: 107px auto 37px;
  } 
  
  //-- contact --//    

  .contact__inner {
    padding-top: 107px; 
  } 

 } 
  
 @media(max-width: 900px) {   
   
  //-- contact --//    

   .contact__items{ 
     flex-wrap: wrap; 
     justify-content: center;
   }  
    
   .contact__item{ 
     margin: 15px;
   } 
     
   //-- footer --//    

   .footer__item-first {
    margin: 40px 0 15px;
   
   } 
    
   .footer__item {
    margin-bottom: 40px;
  }   

}

 
 @media(max-width: 805px) { 
 
   //-- moredetail -- //  

   .moredetail__details-text--rightside {
     margin: 0 0 47px 133px;
   }  

 } 

  
 @media(max-width: 800px) {

   //--  header --//     

   .header .menu__list {
     position: absolute;
     top: 99px;
     left: 0;
     right: 0;
   }


   //-- tour -- // 

   .tour__item {
     margin: 31px;
   }

   //-- convince -- // 

   .convince {
     margin-bottom: 18px;
   } 
      

   //-- jurney -- // 
 
   .jurney__title {
    line-height: 70px;
    margin: 115px 0 48px;
   }
   
 }
  

@media(max-width:773px){ 
     
  //--  header --//       

  .header__main-title {
    font-size: 99px;  
  }
 
} 
  
 
@media(max-width:730px){  
    
  //--  moredetail --//     

  .moredetail__title { 
    font-size: 59px;
  } 
    
  .moredetail__text {
    margin: 0 auto 50px; 
  }

  .moredetail__img{ 
    display: none;
  } 
   
  .moredetail__main{ 
    flex-wrap: wrap;
  }  
   
  .moredetail__leftside-wrapper, 
  .moredetail__rightside-wrapper{ 
   
    margin: 0 auto 50px;
  } 
   
  
  .moredetail__detail{ 
    margin: 25px;
  }

  .moredetail__leftside{ 
    max-width: 100%; 
    padding: 50px 15px 0;
  }   
   
  .moredetail__rightside{ 
    max-width: 100%; 
    padding: 50px 15px 0;
  }  

  

   
  .moredetail__details-text,  
  .moredetail__details-text--rightside{
    margin: 0 auto 50px;
  }

} 
 
@media(max-width:697px){  
   
    //--  contact  --//

  .contact__item--email::before {
    position: absolute;
    top: 10px;
    left: 0px;
  }   
   
  .contact__item--phone::before {
    position: absolute;
    top: 10px;
    left: 7px;
  } 
   
  .contact__item--address::before {
    position: absolute;
    top: 10px;
    left: -4px;
  } 

}
 
@media(max-width:675px){ 
     
  //--  header --//     
    
  .header__main-title {
    font-size: 87px;
  }
     
   //-- worldwide --//      

  .worldwide__card {
    padding: 55px 57px 0;
  } 

} 
 
 
 
@media(max-width:587px){ 
     
  //--  header --//     
    
  .header__main-title {
    font-size: 77px; 
    line-height: 83px;
  } 
    
  //--  worldwide --//    

  .worldwide__subtitle {
    margin: 0 auto 35px;
  } 
   
  .worldwide__card {
    padding: 39px 47px 0;
  } 
   
  .worldwide__card-item {
    margin-bottom: 39px;
    border: 1px solid transparent;
    max-width: 270px;
 } 
  
 .worldwide__card-name::before {
    position: absolute;
    top: -9px;
    left: 0px;
 }
   
  
  .worldwide__card-text { 
    margin-bottom: 45px;
   } 
     
}   
 
@media(max-width:555px){    
   
  //-- contact --//   

  .contact__location {
    display: none;
  } 

}
 
@media(max-width:550px){  
  
  //-- worldwide --//      
   
  .worldwide__title {
    line-height: 67px;
  }

  .worldwide__card, 
  .worldwide__img{ 
    margin: 25px 5px;
   }   
    
   .worldwide__img{ 
    margin-bottom: 0px;
   } 
     
   //-- jurney --//     

   .jurney__title {
    line-height: 70px;
    margin: 96px 0 48px; 
    font-size: 65px;
  } 
   
  .jurney__subtitle {
    margin: 0 auto 100px;
  } 
    
   //-- contact --//     

  .contact__inner {
    padding-top: 75px;
 }

}
  
 
@media(max-width:503px){ 
    
  //--  header --//    

 .header__top-logo-img{ 
   max-width: 135px;
 }
  
 .header__top-social{ 
   display: none;
 }

 .header__main-title {
   font-size: 50px;
   line-height: 57px;
 }   

  //--  convince --//     

 .convince__reasons {
   background-color: #cd0a2d;
   padding: 40px 10px 0; 
 }
 
}  
 

@media(max-width:500px){ 

   //--  header --//   

   .header__top { 
    margin-bottom: 15px;     
  }   
   
  .header__main-title {
    font-size: 70px;
    line-height: 77px;
 } 
  
   //--  tour --//   

 .tour__item {
  margin: 25px 0;
 } 
   
  //--  blog --//    

 .tour__title {
  margin: 107px auto 47px; 
  font-size: 65px;
  } 
  
 .tour__text {
  margin: 0 auto 37px;
 } 
  
 //-- footer --//    

 .footer__item-first {
  margin: 35px 0 10px;
 
 } 
  
 .footer__item {
  margin-bottom: 30px;
 }   

} 
 
 

   
 
@media(max-width: 430px){   
   
    //--  convince --//    
     
  .convince__rider{ 
    padding-left: 123px;
  }   

  .convince__rider-text::before {
    position: absolute;
    top: -7px;
    left: -12px; 
} 
  
.convince__rider-text-mod::before{ 
      position: absolute;
      top: -7px;
      right: -7px;
  }
   
  .convince__rider-mod{
    padding: 0 123px 0 0;
 }  

  .convince__rider-name,  
  .convince__rider-name-mod {
    font-size: 47px;
    color: #5e5e5e;
    margin-bottom: 37px;
    position: relative;
  } 
   
  .convince__rider-position, 
  .convince__rider-position-mod {
    font-weight: 400;
    color: #979797;
    font-size: 25px;
    position: absolute;
    top: 37px;
    left: 1px;
 }  
   
  //-- worldwide -- //

 .worldwide__card-item {
  margin-bottom: 30px; 
 } 
  
 .worldwide__card {
  padding: 39px 30px 0;
 }  

 //-- moredetail -- //  

 .moredetail__leftside-wrapper,  
 .moredetail__rightside-wrapper {
  margin: 0 auto 40px;
}
  
//-- contact -- //   

.contact__inner {
  padding-top: 67px;
}  
 
.contact__items {
  margin: 0 auto 50px;
} 
 
.contact__social-items {
  margin: 0 auto 50px;
}

} 
 
@media(max-width:370px) { 
     
   //-- convince -- //  

  .convince__rider, .convince__rider-mod{ 
    margin-bottom: 70px;
  }

  //-- worldwide -- // 
   
  .worldwide__title {
    margin: 0px 0px 36px;
}

  .worldwide__card {
    padding: 39px 18px 0;
  }

  .worldwide__card-name::before {
    position: absolute;
    top: -9px;
    left: -5px;
  }

  .worldwide__card-text {
    margin-bottom: 30px;
  } 
    
  //-- moredetail -- //  

  .moredetail__title {
    font-size: 49px;
  }  
   
  //-- contact -- //  
   
  .contact__items {
    margin: 0 auto 40px;
  } 
   
  .contact__social-item {
    width: 53px;
    height: 53px; 
  } 
   
 }

@media(max-width:333px){   
   
  //--  header --//     

  .header__main-title {
    font-size: 45px;
    line-height: 50px;
  }  
    
   //--  tour --//    

  .tour__item-img-wrapper {
    margin-bottom: 30px;
  } 
   
  .tour__item-title {
    margin: 0 0 15px 15px;
  } 
    
   //--  convince --//     

  .convince__rider-text::before {
    position: absolute;
    top: 1px;
    left: -12px;
  } 
   
  .convince__rider-text-mod::before {
    position: absolute;
    top: 4px;
    right: -7px;
}

}