  $main-text-color: #1D1B1B; 
  $main-orange: #FF492F; 
  $second-text-color: #4A4949;  

   
  
  
   
  %-montserrat-400 { 
    font-family: 'Montserrat'; 
    font-weight: 400;
  }
     
   
  %-billy-ohio { 
    font-family: 'Billy Ohio'; 
  }
 
  %-bebas-400 { 
    font-family: 'Bebas'; 
    font-weight: 400;
  }  
   
  %-bebas-neue-book { 
    font-family: 'BebasNeue Book'; 
  }   
   
  %-helvetica-tstd-700cond{ 
    font-family: 'HelveticaLTStd'; 
    font-weight: 700;
  }   
    
  %-lato-500{ 
    font-family: 'Lato'; 
    font-weight: 500;
  }    
   
  %-bebas-neue-700{ 
    font-family: 'Bebas Neue'; 
    font-weight: 700;
  }     
   
  %-lato-500-talic{ 
    font-family: 'Lato'; 
    font-weight: 500;
  }     
   
  %-lato-400{ 
    font-family: 'Lato'; 
    font-weight: 400;
  }    