  $main-text-color: #676767; 
  $white: #FFF;  
  $night:#202020; 
  $main-red:#cd0a2d; 
  

  
  
   
  %-montserrat-400 { 
    font-family: 'Montserrat'; 
    font-weight: 400;
  }
     
   
  %-billy-ohio-400 { 
    font-family: 'Billy Ohio';   
    font-weight: 400;
  }
 
  %-bebas-400 { 
    font-family: 'Bebas'; 
    font-weight: 400;
  }  
   
  %-bebas-neue-book { 
    font-family: 'BebasNeue Book'; 
  }   
   
  %-helvetica-tstd-700cond{ 
    font-family: 'HelveticaLTStd'; 
    font-weight: 700;
  }   
    
  %-lato-500{ 
    font-family: 'Lato'; 
    font-weight: 500;
  }    
   
  %-bebas-neue-700{ 
    font-family: 'Bebas Neue'; 
    font-weight: 700;
  }     
   
  %-lato-500-talic{ 
    font-family: 'Lato'; 
    font-weight: 500;
  }     
   
  %-lato-400{ 
    font-family: 'Lato'; 
    font-weight: 400;
  }     
   
  %-big-noodle-titling{ 
    font-family: 'Big Noodle Titling'; 
    font-weight: 400;
  }     
