@import 'vars';
@import 'fonts';
@import 'reset';  
@import 'libs';  
@import 'global';

 
 
.header{ 
    background-image: url('../images/header/header-bg.jpg'); 
    background-repeat: no-repeat;  
    background-size: cover;
    background-position: center;  
    margin-bottom: 50px;
    &__top{ 
        padding: 70px 0; 
        display: flex; 
        align-items: center; 
        justify-content:space-between; 
        margin-bottom: 80px;
    }    
     
    &__top__menu-social-wrapper{ 
        display: flex; 
        align-items: center; 
    }

    &__top-social{ 
        display: flex; 
        margin-left: 73px;
    } 
     
    &__top-social-item{ 
        width: 50px; 
        height: 50px; 
        border-radius: 50%; 
        border: 3px solid $white; 
        display: flex; 
        justify-content: center; 
        align-items: center;  
    } 
     
    &__top-social-item +  .header__top-social-item{ 
        margin-left: 29px;
    }
     
    .menu{ 
       &__list{ 
        display: flex; 
        align-items: center;
       }   

       &__item + .menu__item{ 
          margin-left: 27px;
       } 
        
       &__link { 
        @extend %-montserrat-400; 
        color: $white; 
        text-transform: uppercase; 
        font-size: 17px; 
       // text-shadow: 9px 4px 2px rgba(0,0,0,0.64);  
        padding: 0 1px 7px 1px; 
        border-bottom: 3px solid transparent;
        transition: all .3s; 
        &:hover{ 
            border-bottom: 3px solid #FFF;
         } 

       }
    } 
     
    &__main{ 
        margin: 0 auto; 
        text-align: center; 
        position: relative;
    }   

    &__main-title{ 
      font-size: 115px; 
      line-height: 97px; 
      @extend %-billy-ohio-400;  
      color: $white; 
      margin-bottom: 539px;
    } 
     
    &__main-motocykle{ 
        position: absolute;
        top: 145px;
        left: 170px;
    }
}  
 
.tour{   
    background: #ededed;  
    background: linear-gradient(0deg, rgba(237,237,237,1) 47%, rgba(255,255,255,1) 73%);
    padding-bottom: 215px;
    &__items{ 
        display: flex; 
        justify-content: space-between; 
        align-items: center; 
    } 

   &__item{ 
     max-width: 364px; 
     border: 1px solid transparent;
   }  

   &__item-img-wrapper{ 
    position: relative; 
    border: 1px solid transparent; 
    margin-bottom: 50px;
   }  

   &__item-triangle{  
    width: 0; 
    height: 0;
    border: 92px solid $main-red;  
    position: relative;
    border-right-color: transparent; 
    border-top-color: transparent;  
    position: absolute;
    bottom: -23px;
    left: -25px;
   } 
    
   &__item-price{   
     @extend %-bebas-400; 
     font-size: 57px;    
     color: $white;
     position: absolute; 
     top: -5px;
     right: -37px;
   }   

   &__item-price-span{ 
     font-size: 36px;
   } 
    
   &__item-specification{ 
      width: 100px; 
      font-size: 22px;  
      color: $white;
      @extend  %-bebas-neue-700;
      position: absolute;
      top: 36px;
      left: -42px;
   }   
    
   &__item-title{ 
     @extend  %-bebas-neue-700;  
     font-size: 27px;  
     margin-bottom: 25px;
     color: $night;
   }  
    
   &__item-text{ 
    line-height: 27px; 
    margin-bottom: 37px;
   } 
    
   &__item-btn{ 
    width: 115px; 
    height: 37px; 
    border-radius: 18px;  
    @extend %-bebas-neue-700; 
    font-size: 21px;
    background: $main-red;  
    color: $white;
    padding: 12px 20px 12px 25px; 
    border: 3px solid transparent; 
    transition: all .3s; 
    &:hover{ 
       background: $white; 
       border: 3px solid $main-red;  
       color:  $main-red;
    }
   }
} 
 
.convince{  
  background-color:#ededed;  
  margin-bottom: 115px;
  &__wrapper{ 
    position: relative;  
    display: flex;
  }  

  &__reasons{ 
    background-color: $main-red;  
    padding: 70px 10px 0; 
    color: $white;   
    width: 100%;
    max-width: 610px; 
    position: absolute;
    top: -38px;
    left: -7px;
  } 
   
  &__title{ 
   @extend  %-bebas-neue-700; 
   font-size: 69px;
   margin-bottom: 45px;
  } 
   
  &__subtitle{ 
     @extend  %-bebas-neue-700;  
     font-size: 26px; 
     margin-bottom: 25px;
  } 
   
  &__text{ 
    max-width: 405px; 
    color: #e37689; 
    margin-bottom: 63px; 
    display: inline-block;
  } 
   
  &__riders{ 
    color: $white;  
    width: 100%;
    max-width: 637px; 
    padding: 70px 0 0 210px; 
    margin-left: auto;
  } 
   
  &__rider, 
  &__rider-mod{ 
    padding-left: 150px;  
    max-width: 410px;
    border: 1px solid transparent; 
    position: relative; 
    margin-bottom: 79px;
  }  
   
  &__rider-mod{  
    padding: 0 150px 0 0;
  }
   
  &__rider-name, 
  &__rider-name-mod{ 
    @extend %-bebas-neue-700; 
    font-size: 47px; 
    color: #5e5e5e; 
    margin-bottom: 20px; 
    position:relative;
  } 
   
  &__rider-position{ 
    @extend  %-bebas-400;   
    font-weight: 400; 
    color: #979797;
    font-size: 25px; 
    position: absolute;
    top: 3px;
    right: 5px;
  }  
   
  &__rider-position-mod{ 
    @extend  %-bebas-400;   
    font-weight: 400; 
    color: #979797;
    font-size: 25px; 
    position: absolute;
    top: 3px;
    right: -19px;
  } 
   
  &__rider-text{
    @extend %-lato-500; 
    color: #808080; 
    max-width: 253px; 
    &::before{ 
      content: ''; 
      width: 130px; 
      height: 130px;   
      background-image: url('../images/convince/rider1.png'); 
      background-size: cover;   
      background-repeat: no-repeat;
      background-position:center;
      border-radius: 50%;
      border: 1px solid transparent; 
      position: absolute;
      top: -17px;
      left: 3px;
    }
  }  
   
  &__rider-text--third{ 
    &::before{ 
      background-image: url('../images/convince/rider3.png'); 
     }
    }
  
   
  &__rider-text-mod{  
    @extend %-lato-500; 
    color: #808080; 
    max-width: 253px; 
    &::before{ 
      content: ''; 
      width: 130px; 
      height: 130px;   
      background-image: url('../images/convince/rider2.png'); 
      background-size: cover;   
      background-repeat: no-repeat;
      background-position:center;
      border-radius: 50%;
      border: 1px solid transparent; 
      position: absolute;
      top: -17px;
      right: 0;
    } 

  } 
   
  &__motocykle{ 
    position: absolute;
    top: -80px;
    left: 445px; 
  }
 
}


@import 'media'; 
 
 
